{% extends 'tienda/base.html' %}

{% block content %}
<h1>Compras de {{ compras.0.user }}</h1>

{% if compras %}
<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Producto</th>
      <th>Unidades</th>
      <th>Importe</th>
    </tr>
  </thead>
  <tbody>
    {% for compra in compras %}
    <tr>
      <td>{{ compra.fecha }}</td>
      <td>{{ compra.nombre }}</td>
      <td>{{ compra.unidades }}</td>
      <td>{{ compra.importe }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No se encontraron compras para este usuario.</p>
{% endif %}
{% endblock %}
