{% extends 'tienda/base.html' %}
{% block content %}
<h1>{{ producto.nombre }}</h1>
<p>Marca: {{ producto.marca }}</p>
<p>Modelo: {{ producto.modelo }}</p>
<p>Precio: {{ producto.precio }}</p>
<p>Detalles: {{ producto.detalles }}</p>

{% if mensaje_error %}
    <div class="alert alert-danger">{{ mensaje_error }}</div>
{% endif %}

<form method="post">
 {% csrf_token %}
 <label for="unidades">Unidades:</label>
 <input type="number" name="unidades" min="1" max="{{ producto.unidades }}">
 <button type="submit">Comprar</button>
<a href="{% url 'compra' %}" class="btn btn-warning">volver</a>
</form>
{% if mensaje_confirmacion %}
    <div class="alert alert-success">{{ mensaje_confirmacion }}</div>
{% endif %}

{% endblock %}
