{% extends 'tienda/base.html' %}

{% block content %}
  <h1>Buscar Productos</h1>

 <form method="GET" action="/tienda/buscar/">
    <label for="">Buscar:</label>
    <input type="text" name="prd" >
    <button type="submit">Buscar</button>
  </form>
    {% if datos %}
         <table class="table">
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Unidades</th>
        </tr>
        {% for producto in datos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.marca }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.unidades }}</td>
                <td><a href="/" class="btn btn-info">Comprar</a></td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        {{ dato }}
    {% endif %}

{% endblock %}
