{% extends 'tienda/base.html' %}
{% block content %}
    <div class="col-sm-6">
      <!-- formulario para realizar la compra -->
      <h2>{{ producto.nombre }}</h2>
  <p>Precio: {{ producto.precio }}€</p>
  <p>Unidades disponibles: {{ producto.unidades }}</p>
  {% if error_message %}
    <p style="color: red">{{ error_message }}</p>
  {% endif %}
  <form method="post" action="{% url 'checkout' id=producto.id %}">
    {% csrf_token %}
    <label for="unidades">Cantidad:</label>
    <input type="number" id="unidades" name="unidades" value="1" min="1" max="{{ producto.unidades }}">
    <br><br>
      <a href="{% url 'compra' %}" class="btn btn-warning">Volver</a>
  </form>

    </div>
{% endblock %}