{% extends 'tienda/base.html' %}
{% block content %}
    <form method="get" action="/filtrar_productos/">
    <div class="form-group">
        <label for="">Marca:</label>
        <select name="marca" class="form-control" id="">
            <option value="">Todas las marcas</option>
            {% for marca in marcas %}
                <option value="{{ marca.id }}" {% if marca_id == marca.id %}selected{% endif %}>{{ marca.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="">Nombre:</label>
        <input type="text" name="nombre" class="form-control" id="" value="{{ nombre }}">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

{% if productos %}
    <h2>Resultados de la búsqueda:</h2>
    <ul>
        {% for producto in productos %}
            <li>{{ producto.nombre }} - {{ producto.marca.nombre }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}