{% extends 'tienda/base.html' %}
{% block content %}
<!--productos mas vendidos  -->
<form action="{% url 'top_10_productos_vendidos' %}">
    {% csrf_token %}
 <button type="submit">top_10_productos_vendidos</button>
</form>
{%  if top_productos %}
    <h1>Top 10 Productos Vendidos</h1>
  <table class="table">
      <tr>
        <th>Posición</th>
        <th>Nombre del Producto</th>
        <th>Unidades Vendidas</th>
      </tr>
      {% for producto in top_productos %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ producto.nombre }}</td>
          <td>
            {% for producto_vendido in productos_vendidos %}
              {% if producto_vendido.nombre == producto.id %}
                {{ producto_vendido.total_unidades_vendidas }}
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
  </table>
{% endif %}
<!--feltrar por marca  -->
<form method="post" action="{% url 'marca' %}">
    {% csrf_token %}
    {{ form.as_p }}
      <button type="submit">Filtrar</button>
</form>
    {% if productos %}
         <table class="table">
        <th>Nombre</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Unidades</th>
        {% for producto in productos %}
          <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.marca }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.unidades }}</td>
          </tr>
        {% endfor %}
    </table>
    {% endif %}
    <!-- Compras de Usuario  -->
  <h1>Compras de Usuario</h1>
<form method="post" action="{% url 'compras_usuario'%}">
    {% csrf_token %}
    {{ forms.users }}
<button type="submit">usuarios</button>
</form>
  {% if compras_users %}
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Producto</th>
          <th>Unidades</th>
          <th>Total</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        {% for compra in compras_users %}
          <tr>
            <td>{{ compra.user }}</td>
            <td>{{ compra.producto.nombre }}</td>
            <td>{{ compra.unidades }}</td>
            <td>{{ compra.importe }}</td>
            <td>{{ compra.fecha }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
    <!-- Compras de Usuario  -->
<form action="{% url 'top_ten_clientes' %}">
    {% csrf_token %}
    <button type="submit">top_ten_clientes</button>
</form>
    {% if top_clientes %}
    <table class="table">
    <tr>
        <th>usuario</th>
        <th>Importe</th>
    </tr>
    {% for cliente in top_clientes %}
        <tr>
            <td>{{ cliente.user__username }}</td>
            <td>{{ cliente.importe_total }}€</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}