{% extends 'tienda/base.html' %}
{% block content %}
  <h1>Top 10 Productos Vendidos</h1>
  <table class="table">
      <tr>
        <th>Posición</th>
        <th>Nombre del Producto</th>
        <th>Unidades Vendidas</th>
      </tr>
      {% for producto in top_productos %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ producto.nombre }}</td>
            {% for producto_vendido in productos_vendidos  %}
             <td>{{producto_vendido.total_unidades_vendidas }}</td>
            {% endfor %}
        </tr>
      {% endfor %}
  </table>
{% endblock %}
