{% extends 'tienda/base.html' %}
{% block content %}
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Unidades</th>
        </tr>
        {% for dato in datos %}
            <tr>
                <td>{{ dato.nombre }}</td>
                <td>{{ dato.marca }}</td>
                <td>{{ dato.precio }}</td>
                <td>{{ dato.unidades }}</td>
                <td><a href="/" class="btn btn-info">Comprar</a></td>
                <td><a href="/" class="btn btn-warning">Editar</a></td>
                <td><a href="/" class="btn btn-danger">Elimira</a></td>

            </tr>

        {% endfor %}
    </table>
    <a href="/" class="btn btn-success">Añadir</a>
{% endblock %}
